header {
    background-color: black;
    color: #779ecb;
    font-family: system-ui;
    padding: 30px;
}

.my-name {
    font-size: 5.8em;
    text-align: center;
}

.my-stuff-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
    margin-left: 0;
    margin-right: 0;
}

.my-stuff-btn {
    background-color: black;
    color: #779ecb;
    font-size: 2em;
    font-family: system-ui;
    border: 1px solid #779ecb;
    width: 100%;
    height: 80px;
}

main {
    padding: 150px;
    background-color: #779ecb;
    font-family: system-ui;
}

footer {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 3em;
    font-family: system-ui;
    padding: 50px;
}
