#project-back-btn {
    position: absolute;
    left: 60px;
    top: 55px;
    width: 80px;
    height: 60px;
    background-color: black;
    color: rgb(180, 207, 202);;
    font-size: 18pt;
    border: 0;
}

#projects-page-title {
    font-size: 56pt;
    text-align: center;
}

.project-section {
    margin: 50px;
}

.project-title {
    font-size: 36pt;
}

.project-desc {
    font-size: 20pt;
    margin: 30px 0;
}

.project-link {
    font-size: 28pt;
}