#about-back-btn {
    position: absolute;
    left: 60px;
    top: 55px;
    width: 80px;
    height: 60px;
    background-color: black;
    color: rgb(180, 207, 202);;
    font-size: 18pt;
    border: 0;
}

#about-header {
    font-size: 56pt;
    text-align: center;
}

#about-text > p {
    font-size: 30pt;
    margin: 50px;
}

#my-img {
    float: right;
    width: 360px;
    height: 400px;
}